<header class="header px-5 py-2 shadow-sm d-flex align-items-center justify-content-between"
  style="background-color: #fef5ac">
  <div class="px-3">
    <a href="/" class="text-decoration-none fw-semibold text-dark" style="font-size: 32px">Brisk Cabs</a>
  </div>
  <ul class="d-flex list-unstyled gap-4 pt-1">
    <li><a href="/booking" class="text-decoration-none text-dark">Booking</a></li>
    <li><a href="/register" class="text-decoration-none text-dark">Sign Up</a></li>
    <li><a href="/aboutus" class="text-decoration-none text-dark">About Us</a></li>
  </ul>
</header>
