<footer class="header px-5 py-2 pt-5 border border-t shadow-sm d-flex align-items-center justify-content-around"
  style="background-color: #16213e">

  <ul class="d-flex list-unstyled gap-4 pt-1">
    <li>
      <a href="#" class="text-decoration-none text-light fw-semibold"
      >Booking</a
      >
    </li>
    <li>
      <a href="/" class="text-decoration-none text-light fw-semibold">Sign Up</a>
    </li>
    <li>
      <a href="#" class="text-decoration-none text-light fw-semibold"
      >About Us</a
      >
    </li>
  </ul>

  <div class="px-4 col-3">
  </div>
  <div class="px-4 col-3">
    <a href="/" class="text-decoration-none fw-semibold text-light" style="font-size: 25px">Brisk Cabs</a>
    <p class="label text-muted">
      24, Tower-A, Hudson Street,
      <br>
      Santa Clara, New Delhi, India
      <br>
      +91 999888999, 011-5556666
    </p>
  </div>
</footer>
