<footer
  class="header px-5 py-2 pt-5 border border-t shadow-sm d-flex align-items-center justify-content-around"
  style="background-color: #16213e"
>
  <div class="px-3 col-4">
    <a
      href="/"
      class="text-decoration-none fw-semibold text-light"
      style="font-size: 25px"
      >Brisk Cabs</a
    >
    <p class="label text-muted">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis enim
      molestias recusandae deserunt sit ducimus qui similique corporis!
    </p>
  </div>
  <div>
    <ul class="d-flex list-unstyled gap-4 pt-1">
      <li>
        <a href="/" class="text-decoration-none text-light fw-semibold">Home</a>
      </li>
      <li>
        <a href="#" class="text-decoration-none text-light fw-semibold"
          >About Us</a
        >
      </li>
      <li>
        <a href="#" class="text-decoration-none text-light fw-semibold"
          >Profile</a
        >
      </li>
    </ul>
  </div>
</footer>
