<app-header></app-header>
<div class="landing d-flex">
  <div class="col-5 p-5 d-flex flex-column justify-content-center">
    <h4 class="text-center mt-5 display-3 fw-bold m-0">Travel With Trust</h4>
    <p class="px-4 py-3 display-6">
      Book affordable and comfortable rides now
    </p>
    <div class="px-4">
      <a href="/booking" class="text-decoration-none text-dark">
        <button
          class="btn btn-warning px-5 "
          style="background-color: #fef5ac"
        >
          Booking
        </button>
      </a>
    </div>
  </div>
  <div class="col-3" style="min-height: 70vh">
    <img src="../../assets/cab-landing-removebg.png" alt="cab" height="550" width="750"/>
  </div>
</div>
