<app-header></app-header>
<div class="landing d-flex">
  <div class="col-6 p-5 d-flex flex-column justify-content-center">
    <h4 class="mt-5 display-3 fw-bold m-0" style="margin-bottom: 40px;">Travel With Trust</h4>
    <br>
    <p>
      Brisk Cabs was established in 2010.
      We have been driving your traveling problems away for more than a decade now.
      We provide quick cab booking, best prices, and hassle free payments from the comfort of your home.
      So, what are you waiting for? Book a brisk cab now!
    </p>
  </div>
  <div class="col-3">
    <img src="../../assets/cab-landing-removebg.png" alt="cab" height="350" width="450" />
  </div>
</div>
<div class="col-9 p-5 ">
  <div class="px-3 col-4">
    <p>
      <b>Person Behind Brisk Cabs:</b>
      <br>
      Michael George
      <br>
      Founder
      <br>
      Santa Clara, New Delhi
    </p>
  </div>
</div>
<app-footer></app-footer>
